<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <title>{% if page.url == "/" %}{{ site.title }}{% else %}{{ site.title }}: {{ page.title }}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="https://feascript.com/assets/favicon.ico" />
  {%- include head.html -%}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JPK0KLEC9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-1JPK0KLEC9");
  </script>
  <style>
    /* Hide RSS subscribe line */
    .rss-subscribe { display: none; }
  </style>
</head>

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer h-card" style="background-color: #f7e7b7;">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

      <h2 class="footer-heading">{{ site.title | escape }}</h2>

      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
            </li>
            {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
          </ul>
        </div>

        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>

        <div class="footer-col footer-col-3">
          <p>
            <a href="https://feascript.com/">
              <img src="https://feascript.github.io/FEAScript-website/assets/FEAScriptLogo.png" alt="FEAScript Logo" class="footer-logo" style="width: 40px; height: auto;">
            </a>
          </p>
          <p>
            {{ site.description | escape }}
          </p>
        </div>

      </div>

    </div>

  </footer>
</body>

</html>
